html,
body {
    height: 100%;
    background-color: #eee;

    -webkit-font-smoothing: antialiased;
}
body,
h1,
h2,
p,
ul {
    margin: 0px;
    padding: 0px;
    font-family: 'proxima-nova';
    /*font-size: 1em;*/
}

h1,
h2 {
    font-family: 'proxima-nova';
    font-weight: normal;

    display: inline-block;
}

h1 {
    padding-top: 8px;
    font-size: 57px;
    line-height: 28.5px;
    letter-spacing: -0.5px;
    color: #000;

    position: relative;
    left: -3px;
}

h2 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.5px;

    padding-top: 5px;
}

ul {
    list-style: none;
    margin-left: 20px;
    margin-bottom: 14px;
}

a {
    color: black;
    text-decoration: none;
}

iframe {
    border: none;
}

#wrapper {
    display: flex;
    /* align-items: flex-start; */
}
#sideNav {
    position: sticky !important;
    top: 0;
    min-height: 100vh;

    align-self: flex-start;
}
#display {
    position: initial !important;
    margin-left: initial !important;
    top: initial !important;
    height: initial !important;
}
#displayInner {
    position: sticky;
    top: 0;
    padding-left: 35px;
    padding-top: 53px;
    padding-bottom: 35px;
}
#bannerInfo {
    margin-top: initial !important;
    margin-left: initial !important;
    float: initial !important;
}
#bannerDisplay {
    clear: initial !important;
    margin-left: initial !important;
    float: initial !important;
}

/* Side Nav*/
#sideNav {
    width: 250px;
    background-color: white;
    position: absolute;

    -webkit-transition: width 0.4s;
    -moz-transition: width 0.4s;
    -ms-transition: width 0.4s;
    -o-transition: width 0.4s;
    transition: width 0.4s;
}

#sideNav header {
    height: 140px;
    padding-left: 40px;
    width: 210px;
}

/* Menu */
.build {
    border-top: 1px solid;
    border-top-color: white;

    font-size: 20px;
    letter-spacing: -0.5px;
}
.build-title {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;

    height: 57px;
    padding-left: 40px;

    font-size: 18px;
    line-height: 57px;
}

.build-menu {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;

    /*width: 210px;*/
    /* height: 0px; */
    margin: 0px;
    padding-left: 40px;
    color: white;
    background-color: #222;

    font-size: 15px;
    line-height: 24px;

    cursor: default;
    /*
	border-bottom: 1px solid;
	border-bottom-color: #222;
	border-bottom-style: inset;
*/
    overflow-x: hidden;
    overflow-y: auto;
}
.build-menu p {
    line-height: 20px;
    color: #888;
    cursor: pointer;
}
.build-menu > p {
    color: white;
}
.build-menu a {
    color: white;
}
.build-menu a:hover,
.build-menu a.sizeClicked {
    color: #00e1eb;
}

.menu-group {
    margin-left: 20px;
    margin-bottom: 14px;
}

.header-container {
    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.list-item {
    position: relative;
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
}

.buildBlock {
    margin-bottom: 20px;
    clear: left;
    display: inline-block;
}
.multi-banner {
    font-size: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
}

/* Animation state classes */
.buildClicked {
    color: white;
    background-color: #222;
}
.sizeClicked {
    color: #00e1eb;
}

/* Display Area */
#display {
    position: sticky;
    margin-left: 250px;
    top: 0;
    /*height: 100%;*/
    border-left: 1px solid #fff;
}

#bannerInfo,
#bannerDisplay {
    margin-left: 55px;

    float: left;

    font-family: 'proxima-nova';
    font-size: 20px;
    color: #777;
}

#bannerInfo {
    margin-top: 53px;
    margin-bottom: 35px;
}

#bannerDisplay {
    clear: left;
}

#logo {
    right: 20px;
    bottom: 20px;
    position: fixed;
}

#info {
    display: none;
}

.list-item .info {
    display: none;
    position: absolute;
    left: 160px;
    top: 0;
    width: 600px;
}
.list-item .info > div {
    display: inline-block;
    width: 100px;
}

.show-info .list-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.show-info .list-item .info {
    display: block;
}
.show-info #sideNav {
    width: 540px;
}

/* Internal header */
#internal {
    background: red;
    color: white;
    padding: 0.25em 1em;
    font-size: 120%;
}

#internal a {
    float: right;
    color: white;
    text-decoration: underline;
}

[data-missing='1'] {
    background: red;
    outline: 3px solid red;
}
